<%- include("partials/header") %>

<h1>About</h1>
<!--  aboutSampleText  ejs template --> 
<h3>I'm Faiz</h3>
<p>My graduation is going to be complete in 2021
   <br>Soon this website is going to be more functional
</p>



<%- include("partials/footer") %> 